/* TUKU.io @2015  PKG yotuku VER 0.3.1 */
b,h1,h2,h3,h5,strong {
    font-family: "lucida grande","lucida sans unicode",lucida,helvetica,"Hiragino Sans GB","Microsoft YaHei","WenQuanYi Micro Hei",sans-serif
}

body {
    position: relative;
    min-height: 550px
}

.pics {
    height: 150px;
    text-align: center;
    padding: 0;
    margin: 110px auto 40px
}

.pic {
    width: 500px;
    padding: 0;
    margin-top: 50px
}

.pic img {
    width: 500px;
    margin-bottom: 16px;
    border: 2px solid #eee
}

.progress {
    margin-top: 4px
}

#copy_message {
    display: none;
    position: fixed;
    top: 0;
    width: 250px;
    height: 46px;
    padding-top: 12px;
    text-align: center;
    margin: auto;
    left: 0;
    right: 0;
    z-index: 99999
}

#help_message {
    font-size: 32px;
    color: #bbb;
    display: block;
    margin-top: 0px;
    cursor: pointer
}

#help_message:hover {
    color: #999
}

.setting {
    text-align: right;
    float: right;
    margin: 6px 10px 10px
}

#verify_qiniu_message {
    display: none;
    margin-bottom: 0;
    width: 90%
}

.modal-footer {
    margin-top: 0
}

.modal {
    overflow-y: visible
}

.setting-link {
    color: #0b97c4!important
}

#Navbar {
    border-width: 0
}

#noty_top_layout_container {
    width: 100%
}

[id^=cnzz_stat_icon] {
    display: none
}

#donation {
    position: fixed;
    bottom: 20px;
    left: 20px
}

#notifications .alert {
    margin-bottom: 0
}

.dragover {
    background-color: #67b168
}

.no-data h2 {
    text-align: center;
    color: #a0a0a8;
    padding: 1.8em
}

#Navbar {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0
}

.tuku-thumbnails .thumbnail input {
    width: 100%;
    margin-right: -20px
}

.tuku-thumbnails .thumbnail .actions {
    padding-top: 6px
}

.tuku-thumbnails .thumbnail .img-wrapper {
    position: relative
}

.tuku-thumbnails .thumbnail .more-actions {
    position: absolute;
    height: 100%;
    width: 100%;
    display: none
}

.tuku-thumbnails .img-wrapper:hover .more-actions {
    display: block;
    background-color: rgba(172,172,172,.6);
    top: 0;
    left: 0;
    padding-top: 8px;
    padding-left: 8px;
    transition: background-color 1s
}

.tuku-dnd-area {
    margin-top: 0;
    padding: 1px;
    width: 80%;
    display: inline-block;
}

.tuku-dnd-area.dragover {
    background-color: #f0f0f0;
    margin-bottom: 20px;
    transition: background-color .3s
}

.tuku-dnd-area>h2 {
    padding-top: 12px;
    padding-bottom: 12px
}

.size-10 {
    font-size: 10px
}

.tooltip {
    width: 210px
}

.tooltip-inner {
    max-width: 210px
}

.action-bar {
    margin-bottom: 20px;
    text-align: right
}

.zeroclipboard-is-active,.zeroclipboard-is-hover {
    background-color: #e6e6e6
}

.defaultContent {
    width: 15%;
    display: inline-block;
    float: left;
    min-height: 300px;
}

.fileList div{
    display: inline-block;
    margin: 5px;
}

.fileList img{
    max-width: 430px;
    margin-bottom: 5px;
}